/* Normalize CSS across browsers */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(image/textureWhite.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Progress and timing */
#game-info {
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    
}

#moves-container {
    position: relative;
    background-color: #5DCA9C;
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 15px;
    border-radius: 10px;
    flex-grow: 1.3;
    overflow: hidden;
}

#moves-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #3dba86;
    transition: width 0.3s;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

#timer-container {
    background-color: #AE7EC4;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    border-radius: 10px;

}

/* Circle buttons */
#game-area {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: -90px;
    margin-left: -50px;
}

.circle-button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    /* background-color: #e6e4e4; */
    border: 2px solid #f0f0f0;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.start-circle {
    border: 2px solid #5DCA9C;
}

.end-circle {
    border: 2px solid #5DCA9C;
}

.circle-button.correct {
    background-color: #ae7ec4;
    color: white;
    border: 2px solid #ae7ec4;
}

.circle-button.wrong {
    background-color: orange;
    color: white;
    border: 2px solid orange;
}

.label {
    position: absolute;
    top: -55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #5DCA9C;
    font-weight: 800;
}

.line {
    position: absolute;
    height: 3px;
    background-color: #ae7ec4;
    transform-origin: top left;
    pointer-events: none;
}

/* Popup tutorial */
.popupTutorial {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%) scale(0.9);
    width: 100%;
    height: 100%;
    background: #c7b8e4;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popupTutorial.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Instructions */
.instructionspartb {
    border: 2px solid #FFFFFF;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-top: 85px;
    margin-left: 85px;
    width: 85%;
    height: 70vh;
}

/* Popup tutorial exit and continue button */
.popupTutorial .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    margin-top: -15%;
}

.popupTutorial .btn-group .info-btn {
    width: 200px;
    height: 80px;
    background-color: #ae7ec4;
    border: 10px solid #FFFFFF;
    border-radius: 50px;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: 700;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.popupTutorial .btn-group .info-btn:hover {
    background: #FFFFFF;
    color: #ae7ec4;
    border: 10px solid #ae7ec4;
}

/* Popup practice page */
.popupPractice {
    /* position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 80%;
    height: 60%;
    background: #5DCA9C;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease; */
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%) scale(0.9);
    width: 100%;
    height: 100%;
    background: #c7b8e4;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popupPractice.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popupPractice .instructions {
    border: 2px solid #FFFFFF;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-top: 85px;
    margin-left: 85px;
    width: 85%;
    height: 70vh;
}

.popupPractice .btn-group {
    /* display: flex;
    justify-content: center;
    padding-top: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    margin-top: -18%;
}

.popupPractice .btn-group .info-btn {
    width: 220px;
    height: 100px;
    background-color: #ae7ec4;
    border: 10px solid #FFFFFF;
    border-radius: 50px;
    font-size: 35px;
    color: #FFFFFF;
    font-weight: 700;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.popupPractice .btn-group .info-btn:hover {
    background: #FFFFFF;
    color: #ae7ec4;
    border: 10px solid #ae7ec4;
}

/* Next Button */
.next-button {
    position: absolute;
    bottom: 30px;
    right: 40px;
    background-color: #c4abf3;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    /* padding: 10px 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    width: 110px;
    height: 60px;
    font-weight: 700;
}

.next-button:hover {
    background-color: #b595f4;
}